.OfferForPlan{
    width: 94%;
    margin-left: 3%;
    margin-top: 1%;
    color:white;
}
.plan{
    margin-top: 15%;
}
@media screen and (min-width:640px){
    .OfferForPlan{
        width: 50%;
        margin-left: 25%;
    }
}