.SubscribePlanSchedule
{
    width: 100%;
    padding: 0px 5%;
    margin-top: 15%;
}
.margin{
    margin-left: 0%;
}
@media screen and (min-width:640px){
    .SubscribePlanSchedule{
        padding: 0px 15%;
    }
    .margin{
        margin-left: 29%;
    }

}
.greenLine{
    position: absolute;
    width: 60%;
    height: 10px;
    background-color: green;
    color: green;
}
.date{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2% 0% 0% 0%;
    border-radius: 10px;
    background-color: rgba(75, 73, 73, 0.452);
}
.dateSize{
    border-radius: 100px;
}
.time{
    width: 100%;
    margin-bottom: 2%;
    padding: 2% 0% 0% 0%;
    border-radius: 10px;
    background-color: rgba(75, 73, 73, 0.452);
}
.timesize{
    border-radius: 100px;
}