.SubscribePlanSchedule
{
    padding: 0px 5%;
    line-height: 1.8;
}
.margin{
    /* text-align: center; */
    margin-left: 29%;
}
.offerheading{
    background-color: #008000;
    color: white;
    text-align: center;
}

.greenLine{
    height: 10px;
    background-color: green;
    color: green;
}
.date{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color: rgba(75, 73, 73, 0.452);
}
.dateSize{
    border-radius: 100px;
}
.time{
    margin-bottom: 2%;
    padding: 2%;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgba(75, 73, 73, 0.452);
}
.timesize{
    border-radius: 100px;
}
.resetbutton{
 border: none;
}
@media screen and (min-width:640px){
    .SubscribePlanSchedule{
        padding: 0px 15%;
    }
    .margin{
        margin-left: 29%;
    }
}