  .wrapper .header{
    z-index: 1;
    background-color: white;
    position: fixed;
    width: calc(100% - 18%);
    height: 80px;
    margin-left:calc(100% - 81%) ;
    display: flex;
    top: 0;
  }

  .wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 20px;
    color: blue;
  }
  
  .wrapper .header .header-menu .title{
    color: #fff;
    font-size: 15px;
    background-color: red;
    font-weight: 900;
  }
  
  .wrapper .header .header-menu .title span{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu .sidebar-btn{
    /* color: #fff; */
    color: #4466F2;
    position: absolute;
    margin-left: 40px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  /* .wrapper .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
  } */
  
  .wrapper .header .header-menu ul{
    display: flex;
    margin-left: calc(100% - 25%);
    margin-top: 10px;
  }
  .wrapper .header .header-menu ul li{
    border-left:1px solid lightgray ;
  }
  .wrapper .header .header-menu ul li a{
    background: white;
    color: #4466F2;
    display: block;
    /* margin: 0 10px; */
    /* border-left:1px solid lightgray ; */
    font-size: 18px;
    width: 54px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    /* border-radius: 50%; */
    transition: 0.3s;
    transition-property: background, color;
  }
  .wrapper .header .header-menu ul .bell{
    border-right: 1px solid lightgray;
    border-left: 1px solid white !important;
  }

  .wrapper .header .header-menu ul li a span{
    margin-left: 2px;    
    opacity: 1;
    animation: blinking 1s infinite;
    transition: opacity .3s;
  }

  .wrapper .header .header-menu li a div .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../../assets/profilePic.png);
  }
  .wrapper .header .header-menu li a .dropdown-r {
    position: relative;
    display: inline-block;
  }
  .wrapper .header .header-menu li a .dropdown-r .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -100px;
    padding: 15px 15px;
    margin-top: 13px;
    background-color: white;
    width: 160px;
    height:200px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .wrapper .header .header-menu li a .dropdown-r .dropdown-content  .thirdLine{
    border-bottom: 1px solid lightgray;
  }
  .wrapper .header .header-menu li a .dropdown-r .dropdown-content a {
    color: #313131;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: block;
  }

  .wrapper .header .header-menu li a .dropdown-r .dropdown-content a:hover {color: blue}

  .wrapper .header .header-menu li a .dropdown-r:hover .dropdown-content {
    display: block;
    animation: showDropdownMenu .5s;
  }
  .wrapper .header .header-menu li a .dropdown-r .dropdown-content a i span{
    margin-left: 10px;
  }
  @keyframes showDropdownMenu{
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translate(0);
    }
  }
  @keyframes blinking{
    0%{
      opacity: 1;
    }
    100%{opacity: 0;
    }
  }
  /* .wrapper .header .header-menu ul li a:hover{
    background: #4CCEE8;
    color: #fff;
  } */
  
  .wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    /* top: 70px; */
    top:0px;
    width: 260px;
    height: calc(100% - 0px);
    transition: 0.3s;
    transition-property: width;
    /* overflow-y: auto; */
  }
  
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  


/* ////////////////////////////////////;/ */
.wrapper .sidebar .sidebar-menu .app-logo{
  width: 100%;;
  padding:7px;
  display: flex;
}
.wrapper .sidebar .sidebar-menu .app-logo .app-logo_logo{
  width:50px;
  height: 50px;
  border-radius: 100px;
  background-image: url(../../assets/Fithulk_logo.jpg);
  background-size: cover;
}
.wrapper .sidebar .sidebar-menu .app-logo .app-logo_appName{
  width:70%;
  height: 100%;
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin-top: 3%;
  margin-left: 3%;
 
}
/* ///////////////////////////////////////////////////////// */








  .wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../../assets/profilePic.png);
  }
  
  .wrapper .sidebar .sidebar-menu .profile p{
    color: #f6f7fb;
    font:16px work-Sans,sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .wrapper .sidebar .sidebar-menu .profile small{
    color: white;
    font-weight: 400;
    font:12px work-Sans,sans-serif;

  }
  

  /* ////////////////////////////////changes */
  .wrapper .sidebar .sidebar-menu .item{
    width: 260px;
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 8px 0px;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background-color: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background-color, max-height;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
    transition-property: background;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #8FC5E9;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  .wrapper .main-container{
    width: (100% - 260px);
    margin-top: 80px;
    margin-left: 260px;
    padding: 15px;
    background-size: cover;
    height: 100vh;
    background-color: #f6f7fb;
    transition: 0.3s;
}
  
  .wrapper.collapse .sidebar{
    width: 0px;
  }
  
  .wrapper.collapse .sidebar .profile img,
  .wrapper.collapse .sidebar .profile p,
  .wrapper.collapse .sidebar a span{
    display: none;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrapper.collapse .main-container{
    width: calc(100% - 0px);
    margin-left: 0px;
  }
  
  /* //////////////////// */
  .wrapper.collapse .header{
    width: calc(100% - 0px);
      margin-left: 0px;
  }

  .wrapper .main-container .card{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
                             