.mainmenu
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width:0px){
    .mainmenu{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (min-width:1024px){
    .mainmenu{
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }
}