.ImageComponent{
    width: 100%;   
    height: 100%;  
    border:8px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   

}
.img{
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/Fithulk_Name.jpg);
    background-size:cover ;
}
.ImageComponent:hover{
    cursor: pointer;
}