.selectedMenu{
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: white;
}
.UserSelectedMenu {
    position: absolute;
    width: 100%;
}
.selectedMenu .table{
    width: 100%;
    border-collapse: collapse;
    color:black;
}
.selectedMenu table tr:nth-child(even){
    background-color: #f2f2f2;
}
.selectedMenu table tr:nth-child(even):hover{
    background-color:#bbb9b9af;
}
.selectedMenu .table .tablerow{
    height: 50px;
}
.selectedMenu .table td{
    font: 15px sans-Work,sans-serif;
}
.selectedMenu .table .rowheading{
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
}
tr:hover{
    background-color: rgba(128, 128, 128, 0.274);
}
.totalammount{
    font-size: 14px;    
    font-weight: bold;
    color: green;    
}
.customize{
    width: 90%;
}